<?xml version="1.0" encoding="UTF-8"?>
<x-data>
    <display-name>Hovedmeny</display-name>
    <form>
        <item-set name="menuitems">
            <label>Menypunkter nivå 1</label>
            <occurrences minimum="0" maximum="0" />
            <items>
                <input type="Title" name="itemtext">
                    <label>Tittel</label>
                    <occurrences minimum="1" maximum="1" />
                </input>
                <input type="ContentSelector" name="content">
                    <label>Lenke</label>
                    <occurrences minimum="0" maximum="1" />
                </input>
                <input type="TextLine" name="url">
                    <label>Ekstern URL</label>
                    <occurrences minimum="0" maximum="1" />
                </input>
                <item-set name="menuitems">
                    <label>Undermenypunkter</label>
                    <occurrences minimum="0" maximum="6" />
                    <items>
                        <input type="Title" name="itemtext">
                            <label>Tittel</label>
                            <occurrences minimum="1" maximum="1" />
                        </input>
                        <input type="ContentSelector" name="content">
                            <label>Lenke</label>
                            <occurrences minimum="0" maximum="1" />
                        </input>
                        <input type="TextLine" name="url">
                            <label>Ekstern lenke</label>
                            <occurrences minimum="0" maximum="1" />
                        </input>
                    </items>
                </item-set>
            </items>
        </item-set>
         <item-set name="menuitemsLevel2">
            <label>Menypunkter nivå 2</label>
            <occurrences minimum="0" maximum="0" />
            <items>
                <input type="Title" name="itemtext">
                    <label>Tittel</label>
                    <occurrences minimum="1" maximum="1" />
                </input>
                <input type="ContentSelector" name="content">
                    <label>Lenke</label>
                    <occurrences minimum="0" maximum="1" />
                </input>
                <input type="TextLine" name="url">
                    <label>Ekstern URL</label>
                    <occurrences minimum="0" maximum="1" />
                </input>
                <item-set name="menuitems">
                    <label>Undermenypunkter</label>
                    <occurrences minimum="0" maximum="6" />
                    <items>
                        <input type="Title" name="itemtext">
                            <label>Tittel</label>
                            <occurrences minimum="1" maximum="1" />
                        </input>
                        <input type="ContentSelector" name="content">
                            <label>Lenke</label>
                            <occurrences minimum="0" maximum="1" />
                        </input>
                        <input type="TextLine" name="url">
                            <label>Ekstern lenke</label>
                            <occurrences minimum="0" maximum="1" />
                        </input>
                    </items>
                </item-set>
            </items>
        </item-set>
    </form>
</x-data>
