body {
    text-align: center;
    color: grey;
    padding: 100px 10px 0 10px;
    margin: 0;
    font-family: roboto, arial, serif;
    width: 100%;
    box-sizing: border-box;
   }

img {
  max-width: 50%;
  display: block;
  width: 100%;
  margin: 0 auto;

  &.banner {
    max-width: 100%;
  }
}
